{
  "input": {
    "queue": "https://sqs.eu-central-1.amazonaws.com/000000000000/test-topic"
  }

  "output": {

    # Configure output kinesis stream for valid messages
    "good": {
      "streamName": "test-stream-payloads"
    }

    # Configure output kinesis stream for invalid messages
    "bad": {
      "streamName": "test-stream-bad"
    }
  }
}
