{
  "sqsQueue": "https://sqs.eu-central-1.amazonaws.com/000000000000/test-topic"
  "goodStreamName": "test-stream-payloads"
  "badStreamName": "test-stream-bad"

  # Optional, for tracking runtime exceptions
  "sentryDsn": "http://sentry.acme.com"

  # Optional, any standard akka configurations to override the defaults.
  # See https://doc.akka.io/docs/akka/current/general/configuration-reference.html
  "akka": {
    "loglevel": "INFO"
  }

}
